/* ThemeContext.css */

/* Dark Mode */
.theme-dark {
  background-color: #111827; /* Tailwind's bg-gray-900 */
  color: #f9fafb; /* Tailwind's text-gray-50 */
}

/* Light Mode */
.theme-light {
  background-color: #f9fafb; /* Tailwind's bg-gray-50 */
  color: #111827; /* Tailwind's text-gray-900 */
}